<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>

  <body>
    <%- include('partials/navbar.ejs') %>
      <main class="container mt-3">
        <% if(products.length> 0){ %>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">URL</th>
              </tr>
            </thead>
            <tbody>
              <% products.forEach((product)=> { %>
                <tr>
                  <th scope="row">1</th>
                  <td>
                    <%= product.name %>
                  </td>
                  <td>
                    <%= product.price %>
                  </td>
                  <td>
                    <%= product.url %>
                  </td>
                </tr>
                <% }) %>
            </tbody>
          </table>
          <% } else { %>
            <p class="text-center">NO HAY PRODUCTOS DISPONIBLES</p>
          <% } %>
      </main>
  </body>

</html>